<div class="page-header">
  <h1 id="community-resources">Community <small>New community resources</small></h1>
</div>
<ul>
  <li><a href="http://www.foodfightshow.org/2012/06/episode-17-testing-with-eric-g-wolfe.html">Food Fight Episode 17: Testing with Eric G. Wolfe & Fletcher Nichol</a> - Atomic Penguin and Fletcher talk in this podcast about how Foodcritic fits into their respective deployment pipelines as part of an interesting wider discussion on testing cookbooks.</li>
  <li><a href="http://technology.customink.com/blog/2012/06/04/mvt-foodcritic-and-travis-ci/">MVT: Foodcritic and Travis CI</a> - Nathen Harvey's excellent blog post on configuring your cookbook build with Travis CI and Foodcritic.
  <li><a href="http://www.youtube.com/watch?v=nSnJCJiZDDU">Lessons from Etsy: Avoiding Kitchen Nightmares</a> - Patrick McDonnell covers Etsy's use of Foodcritic as part of this ChefConf video including the <a href="https://github.com/etsy/foodcritic-rules">awesome extra rules they've released</a>.</li>
</ul>
